Plugins>Sensor CDT, "Derive Focus Measure", joseph.Main_Get_Focus("")
Plugins>Sensor CDT, "Estimate Background", joseph.Main_Average_Background("")
Plugins>Sensor CDT, "Beer-Lambert Correction", joseph.Main_Beer_Lambert("")
Plugins>Sensor CDT, "Estimate Tilt & Static Offset", joseph.Main_Tilt_Offset_Estimation("")
Plugins>Sensor CDT, "-"
Plugins>Sensor CDT, "Image Noise Estimation", joseph.Main_Noise_Estimation("")
Plugins>Sensor CDT, "Dynamic Offset Correction", joseph.Main_DMC("")
Plugins>Sensor CDT, "-"
Plugins>Sensor CDT, "Create Sinogram", joseph.Main_Sinogram_Reconstruction("")
Plugins>Sensor CDT, "2D Reconstruction", joseph.Main_Slice_Reconstruction("")